/* src/components/BitcoinPriceTracker/BitcoinPriceTracker.css */

.bitcoin-price-tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.app-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: auto;
}

h2 {
  color: #ff9800;
  margin-bottom: 10px;
}

.bitcoin-price-tracker select {
  margin-top: 10px;
  padding: 5px;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333333;
}

.bitcoin-price {
  font-size: 2.5em;
  margin: 10px 0;
}